@model IEnumerable<LearningPlatform.Models.UserViewIdModel>

@{
    var currentRoute = ViewContext.RouteData.Values["controller"];
}

<div class="container">
    <div class="d-flex justify-content-start mb-3">
        <a href="@Url.Action("Create", currentRoute?.ToString())" class="btn btn-primary">Create</a>
    </div>

    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Username</td>
                    <td>
                        <a href="@Url.Action("Modify", currentRoute?.ToString(), new { id = item.Id })" class="btn btn-warning btn-sm">Modify</a>
                        <a href="@Url.Action("Remove", currentRoute?.ToString(), new { id = item.Id })" class="btn btn-danger btn-sm">Remove</a>
                        <a href="@Url.Action("AssignSelectedCourses", currentRoute?.ToString(), new { userId = item.Id })" class="btn btn-info btn-sm">Add to Course</a>
                        <a href="@Url.Action("CancelSelectedCourses", currentRoute?.ToString(), new { userId = item.Id })" class="btn btn-info btn-sm">Remove from Course</a>
                    
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
