@model IEnumerable<LearningPlatform.Models.CourseEntityModel>

@{
    var currentRoute = ViewContext.RouteData.Values["controller"];
}

<div class="container">
    <div class="d-flex justify-content-start mb-3">
        <a href="@Url.Action("Create", currentRoute?.ToString())" class="btn btn-primary">Create</a>
    </div>

    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>
                        <a href="@Url.Action("Modify", currentRoute?.ToString(), new { id = item.Id })" class="btn btn-warning btn-sm">Modify</a>
                        <a href="@Url.Action("Remove", currentRoute?.ToString(), new { id = item.Id })" class="btn btn-danger btn-sm">Remove</a>
                        <a href="@Url.Action("AssignSelectedUsers", currentRoute?.ToString(), new { courseId = item.Id })" class="btn btn-info btn-sm">Assign to User</a>
                        <a href="@Url.Action("CancelSelectedUsers", currentRoute?.ToString(), new { courseId = item.Id })" class="btn btn-info btn-sm">Remove from User</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
